In [1]:
import sys
sys.path.append('/home/stacyste/Documents/Research/OverloadedSignaling/Environments/Misyak')
sys.path.append('/home/stacyste/Documents/Research/OverloadedSignaling/Environments/Misyak/eval')
import numpy as np
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

In [5]:
simBaseline = pd.read_pickle('./commonGroundBaselineManipulation_seed408.pkl')

In [6]:
simBaseline

,id,n_tokens,n_axes,show_imprints,n_bananas,n_scorpions,box0_content,box1_content,box2_content,token0_box,...,signal,openedBoxes,maxRewardsPossible,achievedRewards,strategy,axesInCG,tokensInCG,signalerChoice,receiverChoice,modelRewardsAchieved
0,6096,2,1,0,2,1,scorpion,banana,banana,0.0,...,"(1, 1, 0)","(0, 1, 0)",1,1,mixed,1,1,"(0, 0, 0)","(0, 1, 0)",1
1,6189,1,1,1,2,1,scorpion,banana,banana,0.0,...,"(1, 0, 0)","(0, 1, 0)",1,1,avoid,1,1,"(0, 1, 0)","(0, 0, 1)",1
2,6032,1,1,0,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,1,1,"(0, 0, 0)","(1, 0, 0)",0
3,6190,2,2,0,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,1,1,"(1, 1, 0)","(0, 1, 1)",1
4,6123,2,1,0,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,1,1,"(0, 1, 0)","(0, 0, 1)",0
5,6122,1,1,0,2,1,banana,scorpion,banana,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,1,1,"(0, 0, 1)","(0, 1, 0)",0
6,6192,1,2,1,2,1,banana,banana,scorpion,2.0,...,"(0, 0, 1)","(0, 0, 1)",2,0,avoid,1,1,"(0, 0, 1)","(1, 0, 1)",1
7,6127,2,2,0,1,2,scorpion,scorpion,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",1,1,open,1,1,"(1, 0, 1)","(0, 1, 0)",0
8,6126,2,2,1,2,1,banana,banana,scorpion,0.0,...,"(1, 1, 0)","(1, 1, 0)",2,2,open,1,1,"(1, 1, 0)","(1, 1, 0)",2
9,6120,2,1,0,2,1,banana,banana,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,1,1,"(0, 1, 0)","(0, 0, 1)",0
10,6119,1,2,1,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,1,1,"(1, 0, 0)","(0, 1, 0)",0
11,6124,2,1,1,2,1,banana,scorpion,banana,0.0,...,"(1, 0, 1)","(0, 0, 1)",1,1,open,1,1,"(1, 0, 1)","(1, 0, 0)",1
12,6193,1,1,0,2,1,banana,scorpion,banana,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,1,1,"(0, 0, 1)","(0, 0, 1)",1
13,6195,1,1,0,1,2,scorpion,scorpion,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",1,1,open,1,1,"(0, 1, 0)","(1, 0, 0)",0
14,6138,2,1,1,1,2,scorpion,banana,scorpion,2.0,...,"(1, 0, 1)","(0, 1, 0)",1,1,avoid,1,1,"(1, 0, 1)","(0, 1, 0)",1
15,6139,1,2,1,2,1,banana,banana,scorpion,2.0,...,"(0, 0, 1)","(1, 0, 0)",2,1,avoid,1,1,"(0, 0, 1)","(1, 1, 0)",2
16,6136,1,1,1,1,2,scorpion,scorpion,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",1,1,open,1,1,"(0, 0, 1)","(0, 1, 0)",0
17,6141,1,1,0,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,1,1,"(0, 1, 0)","(0, 0, 1)",0
18,6137,1,2,0,2,1,scorpion,banana,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",2,1,open,1,1,"(0, 1, 0)","(1, 0, 0)",0
19,6134,1,1,0,2,1,banana,scorpion,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",1,1,open,1,1,"(0, 0, 1)","(1, 0, 0)",1
20,6133,1,1,1,2,1,scorpion,banana,banana,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,0,avoid,1,1,"(1, 0, 0)","(0, 0, 1)",1
21,6131,2,2,0,1,2,scorpion,scorpion,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",1,1,open,1,1,"(0, 0, 0)","(1, 0, 0)",0
22,6130,2,1,0,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,1,1,"(1, 0, 0)","(0, 0, 1)",0
23,6194,1,2,1,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,1,1,"(0, 1, 0)","(0, 0, 1)",0
24,6142,2,1,0,2,1,scorpion,banana,banana,0.0,...,"(1, 0, 1)","(1, 0, 0)",1,0,mixed,1,1,"(1, 0, 0)","(0, 1, 0)",1
25,6197,2,2,0,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,1,1,"(0, 1, 0)","(1, 0, 1)",0
26,6153,1,2,1,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,1,1,"(0, 0, 0)","(1, 0, 0)",1
27,6208,1,1,1,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,1,1,"(0, 1, 0)","(0, 1, 0)",1
28,6159,1,2,0,2,1,banana,scorpion,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",2,1,open,1,1,"(0, 0, 1)","(0, 0, 1)",1
29,5968,1,1,1,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,1,1,"(1, 0, 0)","(0, 1, 0)",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4066,5557,2,1,1,2,1,banana,banana,scorpion,0.0,...,"(1, 1, 0)","(1, 0, 0)",1,1,open,0,0,"(1, 1, 0)","(0, 1, 0)",1
4067,6254,2,2,0,2,1,banana,banana,scorpion,1.0,...,"(1, 1, 0)","(1, 1, 0)",2,2,open,0,0,"(0, 1, 1)","(0, 1, 1)",1
4068,6341,1,1,0,2,1,scorpion,banana,banana,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(0, 1, 0)","(0, 1, 0)",1
4069,6273,2,2,1,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(1, 0, 1)","(0, 1, 0)",1
4070,5455,1,1,1,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(0, 1, 0)","(0, 1, 0)",1
4071,5705,2,2,1,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,0,0,"(0, 1, 1)","(1, 0, 0)",1
4072,5953,2,2,0,2,1,banana,scorpion,banana,0.0,...,"(1, 0, 1)","(1, 0, 1)",2,2,open,0,0,"(0, 0, 1)","(1, 0, 0)",1
4073,6278,2,1,0,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,0,0,"(0, 1, 1)","(1, 0, 0)",1
4074,6149,2,2,1,2,1,banana,scorpion,banana,0.0,...,"(1, 0, 1)","(1, 0, 1)",2,2,open,0,0,"(1, 0, 1)","(1, 0, 1)",2
4075,5633,2,1,0,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(0, 1, 1)","(1, 0, 0)",0
4076,6402,2,2,1,2,1,banana,banana,scorpion,0.0,...,"(1, 1, 0)","(1, 1, 0)",2,2,open,0,0,"(1, 1, 0)","(1, 1, 0)",2
4077,5574,2,1,1,2,1,banana,banana,scorpion,0.0,...,"(1, 1, 0)","(1, 0, 0)",1,1,open,0,0,"(1, 1, 0)","(1, 0, 0)",1
4078,6342,2,1,1,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(1, 0, 1)","(0, 1, 0)",1
4079,5835,2,2,0,2,1,scorpion,banana,banana,2.0,...,"(0, 1, 1)","(0, 1, 1)",2,2,open,0,0,"(0, 1, 1)","(0, 1, 1)",2
4080,5451,2,1,1,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,0,0,"(0, 1, 1)","(1, 0, 0)",1
4081,6213,2,1,0,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,0,0,"(1, 0, 0)","(0, 0, 1)",0
4082,6409,2,2,0,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,0,0,"(1, 1, 0)","(1, 1, 0)",1
4083,6145,1,1,0,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(1, 0, 0)",1,1,open,0,0,"(0, 0, 1)","(1, 0, 0)",1
4084,6276,1,1,0,2,1,scorpion,banana,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",1,1,open,0,0,"(0, 1, 0)","(0, 1, 0)",1
4085,5829,2,1,1,1,2,scorpion,scorpion,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",1,1,open,0,0,"(1, 1, 0)","(0, 0, 1)",1
4086,6025,2,1,1,2,1,banana,banana,scorpion,0.0,...,"(1, 1, 0)","(1, 0, 0)",1,1,open,0,0,"(1, 1, 0)","(0, 0, 1)",0
4087,6158,2,1,0,1,2,scorpion,scorpion,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",1,1,open,0,0,"(1, 0, 0)","(1, 0, 0)",0
4088,5643,1,2,0,1,2,banana,scorpion,scorpion,0.0,...,"(1, 0, 0)","(0, 1, 1)",1,0,open,0,0,"(0, 0, 1)","(0, 0, 1)",0
4089,6405,2,1,1,2,1,scorpion,banana,banana,2.0,...,"(0, 1, 1)","(0, 1, 0)",1,1,open,0,0,"(0, 1, 1)","(0, 0, 0)",0
4090,5644,2,1,1,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(1, 0, 1)","(0, 1, 0)",1
4091,5578,2,2,1,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(1, 0, 1)","(0, 1, 0)",1
4092,6283,1,2,0,2,1,scorpion,banana,banana,2.0,...,"(0, 0, 1)","(0, 0, 1)",2,1,open,0,0,"(0, 0, 1)","(0, 1, 0)",1
4093,5450,2,1,0,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(0, 0, 0)","(0, 0, 0)",0
4094,5894,2,2,1,2,1,banana,scorpion,banana,2.0,...,"(1, 0, 1)","(1, 0, 1)",2,2,open,0,0,"(1, 0, 1)","(1, 0, 1)",2
4095,5952,2,1,1,1,2,scorpion,banana,scorpion,1.0,...,"(0, 1, 0)","(0, 1, 0)",1,1,open,0,0,"(1, 0, 1)","(0, 1, 0)",1

In [14]:
simBaseline.groupby(['show_imprints', 'axesInCG', 'tokensInCG']).apply(lambda x: (x['modelRewardsAchieved']/x['maxRewardsPossible']).mean())

show_imprints  axesInCG  tokensInCG
0              0         0             0.463796
                         1             0.427875
               1         0             0.500000
                         1             0.441406
1              0         0             0.749023
                         1             0.697266
               1         0             0.809570
                         1             0.789062
dtype: float64

In [15]:
simBaseline.groupby(['show_imprints']).apply(lambda x: (x['modelRewardsAchieved']/x['maxRewardsPossible']).mean())

show_imprints
0    0.458252
1    0.761230
dtype: float64

In [16]:
simBaseline.groupby(['axesInCG']).apply(lambda x: (x['modelRewardsAchieved']/x['maxRewardsPossible']).mean())

axesInCG
0    0.584473
1    0.635010
dtype: float64

In [17]:
simBaseline.groupby(['tokensInCG']).apply(lambda x: (x['modelRewardsAchieved']/x['maxRewardsPossible']).mean())

tokensInCG
0    0.630679
1    0.588824
dtype: float64